# mkdocs output
site*/

# mkdocs plugin cache
.cache/

# vscode workspace specific configurations
.vscode/

# Python bytecache
*.pyc

# Generated Google Programmable Search files
Annotations.xml
Context.xml
